.icons a {
    padding: 5px;
}

i:hover {
    color: rgb(8, 233, 35);
}

.icons .view i {
    color: #000 !important;
}

.icons .edit i {
    color: #d5e219 !important;
}

.icons .delete i {
    color: #e40a0a !important;
}

td:last-child {
    text-align: end;
}

th:last-child {
    text-align: end;
}