thead,
.icons {
    text-align: center;
}

.icons a {
    padding: 5px;
}

.icons a:hover {
    color: rgb(32, 199, 51);
}

.icons .view i {
    color: #000 !important;
}

.icons .edit i {
    color: #d5e219 !important;
}

.icons .delete i {
    color: #e40a0a !important;
}