/* Start Header*/

a {
    color: #fff !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    text-decoration: none !important;
}

a:hover {
    color: #e12c2c !important;
}

.logo {
    color: #fff !important;
    font-weight: 900 !important;
    font-size: 30px !important;
}

.user {
    text-align: end;
}

.user ul {
    background-color: #000 !important;
}

.user-btn {
    border: none !important;
}

.user-btn img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* End Header*/