.rows {
    --bs-gutter-x: 0rem;
}

li,
ul {
    list-style: none;
}

a {
    color: #fff !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    text-decoration: none !important;
    font-family: 'Courier New',
        Courier,
        monospace;
}

a:hover {
    color: #e12c2c !important;
}