/* Start Sidebar*/
.custom .accordion-button::after {
    height: 0;
    width: 0;
    color: #fff;
}

.accordion {
    /* sub sidebar text color*/
    --bs-accordion-btn-color: #fff;
    /*sub category Sidebar bg color*/
    --bs-accordion-bg: #000000d4;
    /*Sidebar bg color*/
    --bs-accordion-btn-bg: #e4a928be;
    /*Sidebar active bg color*/
    --bs-accordion-active-bg: #e7f1ff;
}

.accordion-body {
    border-bottom: 1px #fff dashed;
}

i {
    color: #fff !important;
}

a {
    color: #fff !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    text-decoration: none !important;
    font-family: 'Courier New',
        Courier,
        monospace;
}

/* End Sidebar*/